* {
  line-height: 5rem;
}

h1, h2 {
  color: white;
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.curlys {
  color: aqua;
}

.firstIndent {
  margin-left: 3rem;
}

.secondIndent {
  margin-left: 6rem;
}

.enter {
  margin-top: .5rem;
  font-size: 2rem;
  color: white;
}

a:first-of-type {
  margin-right: 1rem;
}

.main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.intro {
  /* margin: 0 auto; */
  /* text-align: center; */
}