h1, h2 {
  color: white;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.enter {
  margin-top: .5rem;
  font-size: 2rem;
  color: white;
}

a:first-of-type {
  margin-right: 1rem;
}

.main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  /* margin: 0 auto; */
  text-align: center;
}