@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

.container {
  height: 100vh;
  border: 3px;
  box-sizing: border-box;
  background-color: #472035;
  width: 100%;
  display: flex;
}

* {
  margin: 0;
}